.btn-login-fb {
    color: white !important;
    border-radius: 4px;
    background-color: #34589d !important;
    background-color: var(--turquoise-blue);
    background-image: none !important;
    border: none !important;
    margin: 7px 0px;
}