.btn-sign-up {
    color: white;
    background: none;
    background-color: #06bebd;
    border: none;
    margin: 10px 0;
}

.pt-button{
    background: #06bebd none;
    border: none;
    color: white;
}